.App {
  position: relative;
  overflow-x: clip;
}
.App > :nth-child(1) {
  background-color: rgb(42, 3, 104);
  position: relative;
  overflow: hidden;
}
.blue-gradient {
  position: absolute;
  top: 1rem;
  width: 20rem;
  height: 20rem;
  background: rgba(2, 193, 252, 0.767);
  filter: blur(100px);
  border-radius: 100px;
}
